.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 40px;
    border-radius: 20px;
    margin-left:0cqmin;
    margin-top: 20px;
    margin-bottom: 100px;
    max-width:max-content;
  }

  .header-content {
    max-width: 800px;
  }
  .header.header-content.mainlogo{
      width: 90%;
      box-shadow: none;
      background-color: white;
}
.header.header-content button{
    color: rgb(60, 121, 175);
 }

 .header-content h4 {
    font-size: 1.5rem;
    color: #2be406;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-left: 35px;
  }
  
  .header-content p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.header-content button{
    /* border: none; */
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}

  
  
.mainlogo{
  border-radius: 20px;
  margin-left: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.headerimg{
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px; 
  /* max-width: 100%; */
  width: 34vw;
  
}
@media (max-width:1050px) {
 
    .header-content{
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}
